@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background: #1D1E20;
  color: #DADADB;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  height: 100vh;
  padding: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.headerSubDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.headerSubText {
  text-align: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.formControl {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 8px;
  width: 800px;
}

.formControl:focus {
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
}

.formBtn {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 12px;
  cursor: pointer;
  margin-top: 10px;
  width: 300px;
  background: #4169E1;
}

.formBtn:hover {
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
}

.answerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.answerSubDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.hrLine {
  width: 800px;
}

.answerContainer {
  width: 800px;
}

.question {
  /* border: .5px solid #fff; */
  padding: 25px;
  margin-top: 10px;
  background: #4169E1;
  font-weight: bold;
}

.answer {
  /* border: .5px solid #fff; */
  padding: 30px 25px;
  line-height: 1.5em;
  background: #343536;
}



/* .App {
  
} */
